.App {
  text-align: center;
}


body {
  background-color: #dfdfde;
  margin: 10px;
  font-size: 1.50em;
  color: #83516c;

}

input {
  outline-color: #2e4045;
  font-family: 'Raleway', sans-serif;
  color: #6fd2dc;
}

.titulo{
  color: #a2798f;
  display:  flex;
flex-direction: row;

}
.content{
display:  flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;

}

.return-address {
  text-align: left;
  float: right;
}

h1 {
  clear: both;
  font-weight: bold;
  padding-top: 80px;
}

.adios {
  float: right;
  padding-top: 50px;
}